/* Resetting the margin of the body element to 0px */
body {
  margin: 0px !important;
}

/* Styling for elements with the 'about' class */
.about {
  margin: auto;
}

/* Styling for elements with the 'about-me' class */
.about-me {
  margin-left: 7.5%;
  margin-bottom: 10px;
  line-height: 100px;
  font-family: "AR One Sans", sans-serif;
  font-weight: bold;
}

/* Styles for the 'typewriter' class */
.typewriter h1 {
  width: fit-content;
  margin-top: 1000px;
  padding-left: 400px;
  overflow: hidden;
  /* Ensures the content is not revealed until the animation */
  border-right: 0.15em solid black;
  /* The typwriter cursor */
  white-space: nowrap;
  /* Keeps the content on a single line */
  margin: 0 auto;
  /* Gives that scrolling effect as the typing happens */
  letter-spacing: 0.1em;
  /* Adjust as needed */
  animation: typing 3.5s steps(40, end), blink-caret 0.75s step-end infinite;
  /* Defines animation properties */
}

/* The typing effect */
@keyframes typing {
  from {
    width: 0;
  }

  to {
    width: 100%;
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {

  from,
  to {
    border-color: transparent;
  }

  50% {
    border-color: black;
  }
}

/* Media query for screens with a maximum width of 600px */
@media only screen and (max-width: 600px) {
  .typewriter h1 {
    font-size: 32px;
    padding-left: 10px !important;
    width: 100%;
    white-space: nowrap;
    padding-left: 0px;
  }
}

/* Media query for screens with a minimum width of 600px */
@media only screen and (min-width: 600px) {
  .typewriter h1 {
    font-size: 35px;
    width: 100%;
    white-space: nowrap;
    padding-left: 10px;
  }
}

/* Media query for screens with a minimum width of 768px */
@media only screen and (min-width: 768px) {
  .typewriter h1 {
    font-size: 49px;
    width: 100%;
    white-space: nowrap;
    padding-left: 0px;
  }
}

/* Media query for screens with a minimum width of 992px */
@media only screen and (min-width: 992px) {
  .typewriter h1 {
    font-size: 49px;
    padding-left: 600px;
    width: 100%;
    white-space: nowrap;
    padding-left: 248px;
  }
}

/* Media query for screens with a minimum width of 1200px */
@media only screen and (min-width: 1200px) {
  .typewriter h1 {
    font-size: 55px;
    padding-left: 490px !important;
    width: fit-content;
    white-space: nowrap;
    padding-left: 0px;
  }
}

/* Styles for elements with the 'about-body' class */
.about-body {
  margin-left: 70px;
  margin-right: 70px;
  margin-top: 50px;
  font-family: "AR One Sans", sans-serif;
  font-weight: bolder;
  font-size: 20px;
  line-height: 45px;
}

/* Styles for <span> elements */
span {
  color: #087f8c;
  font-weight: bold;
  font-size: 22px;
}