.text {
  color: black !important;
  font-family: 'AR One Sans', sans-serif;
}

form {
  margin-left: 20px;
  font-family: 'AR One Sans', sans-serif;
}
.form-control{
  border: solid rgb(218, 218, 218)!important;
}

.contact{
    margin-left: 20px;
    margin-top: 20px ;
    margin-bottom: 20px ;
    font-family: 'AR One Sans', sans-serif;
    font-weight: bold;
}
