/* Styles for elements with the 'text' class */
.text {
  color: black !important;
  font-family: "AR One Sans", sans-serif;
}

/* Styles for all form elements */
form {
  margin-left: 20px;
  font-family: "AR One Sans", sans-serif;
}

/* Styles for elements with the "form-control" class  */
.form-control {
  border: solid rgb(218, 218, 218) !important;
}

/* Styles for elements with the "contact" class  */
.contact {
  margin-left: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: "AR One Sans", sans-serif;
  font-weight: bold;
}