footer {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-top: 300px;
  margin-bottom: 20px;
  background-color: white;
}
.bi {
  fill: black;
  transition: all 0.5s;
}
.bi:hover {
  fill: rgb(90, 90, 90);
  transform: scale(1.2);
}

.bi:active {
  fill: rgb(118, 117, 117);
}
