/* Styling for elements with class "header" */
.header {
    color: black;
    font-family: 'AR One Sans', sans-serif;
    font-weight: bold;
}

/* Styling for elements with class "header-size" */
.header-size {
    padding: 0px !important;
}