/* Styling for elements with class "portfolio-title" */
.portfolio-title {
  font-weight: bold;
}

h2 {
  font-family: "AR One Sans", sans-serif;
}

/* Styling for elements with class "project-text" */
.project-text {
  color: white !important;
  font-family: "AR One Sans", sans-serif;
}

/* Styling for elements with class "row" */
.row {
  margin: auto !important;
  background-color: white;
}

/* Styling for elements with class "img" */
.img {
  margin: 10px !important;
  border:  solid #000000;
 box-shadow: 0 0.5rem 1.2rem rgba(0,0,0,.2);
 transition: all 0.3s;
 ;
}

/* Styling for elements with class "img" on hover */
.img:hover {
  transform: scale(1.08);
}