.portfolio-title {
  font-weight: bold;
}
h2 {
  font-family: "AR One Sans", sans-serif;
}

.project-text {
  color: white !important;
  font-family: "AR One Sans", sans-serif;
}

.row {
  margin: auto !important;
  background-color: white;
}

.img {
  margin: 10px !important;
  transition: all 1s;
}

.img:hover {
  transform: scale(1.1);
}
