.text {
  color: black !important;
}

.resume {
  margin-left: 20px !important;
}

.resume-title {
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 20px;
}

.resume-link:hover {
  color: #087f8c !important;
}

.resume-link:active {
  color: #05b9cd !important;
}
